.destination__title {
  font-family: "Barlow Condensed", sans-serif;
  color: #ffffff;
  font-size: 1rem;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 2.7px;
  text-transform: uppercase;
  margin-top: 1.5rem;
  margin-bottom: 2rem;
}
@media screen and (min-width: 34em) {
  .destination__title {
    padding-left: 2.4375rem;
    font-size: 1.25rem;
    line-height: 1.5rem;
    letter-spacing: 3.375px;
    margin-top: 2.5rem;
    margin-bottom: 3.75rem;
  }
}
@media screen and (min-width: 62.5em) {
  .destination__title {
    padding-left: 10.40625rem;
    font-size: 1.75rem;
    line-height: 24px;
    letter-spacing: 4.725px;
    margin-bottom: 0;
  }
}
.destination__title span {
  opacity: 0.25;
  font-weight: 700;
  margin-right: 0.875rem;
}
@media screen and (min-width: 62.5em) {
  .destination__title span {
    margin-right: 1.75rem;
  }
}
@media screen and (min-width: 62.5em) {
  .destination__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 7rem;
    max-width: 1440px;
    margin: 0 auto;
  }
}
.destination__hero-container {
  width: 10.625rem;
  margin: 0 auto;
  margin-bottom: 1.625rem;
}
@media screen and (min-width: 34em) {
  .destination__hero-container {
    width: 18.75rem;
    margin-bottom: 3.3125rem;
  }
}
@media screen and (min-width: 62.5em) {
  .destination__hero-container {
    width: 100%;
    max-width: 27.8125rem;
    margin-left: 14.375rem;
    margin-top: 6.0625rem;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 62.5em) {
  .destination__hero-container img {
    max-width: 100%;
  }
}
.destination__text-container {
  text-align: center;
}
@media screen and (min-width: 34em) {
  .destination__text-container {
    padding: 0 6.0625rem;
  }
}
@media screen and (min-width: 62.5em) {
  .destination__text-container {
    text-align: left;
    max-width: 27.8125rem;
    padding: 0;
    margin-left: 4rem;
    margin-right: 10.1875rem;
    margin-top: 4rem;
  }
}
.destination__button-container {
  margin-bottom: 1.75rem;
}
@media screen and (min-width: 34em) {
  .destination__button-container {
    margin-bottom: 2rem;
  }
}
@media screen and (min-width: 62.5em) {
  .destination__button-container {
    margin-bottom: 2.3125rem;
  }
}
.destination__planet-btn {
  color: #d0d6f9;
  font-family: "Barlow Condensed", sans-serif;
  text-transform: uppercase;
  font-size: 0.875rem;
  line-height: 16.8px;
  letter-spacing: 2.36px;
  position: relative;
  transition: all 0.2s ease;
}
@media screen and (min-width: 34em) {
  .destination__planet-btn {
    font-size: 1rem;
    line-height: 19px;
    letter-spacing: 2.7px;
  }
}
.destination__planet-btn:not(:last-child) {
  margin-right: 1.75rem;
}
@media screen and (min-width: 34em) {
  .destination__planet-btn:not(:last-child) {
    margin-right: 2.1875rem;
  }
}
.destination__planet-btn.active::after {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #ffffff;
}
@media screen and (min-width: 34em) {
  .destination__planet-btn.active::after {
    bottom: -15px;
  }
}
.destination__planet-btn:hover, .destination__planet-btn:focus {
  color: #ffffff;
}
.destination__planet-btn:hover::after, .destination__planet-btn:focus::after {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #ffffff;
  opacity: 0.5;
}
@media screen and (min-width: 34em) {
  .destination__planet-btn:hover::after, .destination__planet-btn:focus::after {
    bottom: -15px;
  }
}
@media screen and (min-width: 62.5em) {
  .destination__planet-btn:hover::after, .destination__planet-btn:focus::after {
    bottom: -12px;
  }
}
.destination__planet-name {
  font-family: "Bellefair", serif;
  font-size: 3.5rem;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 400;
  line-height: 64px;
  margin-bottom: 0.5rem;
}
@media screen and (min-width: 34em) {
  .destination__planet-name {
    font-size: 5rem;
    line-height: 92px;
  }
}
@media screen and (min-width: 62.5em) {
  .destination__planet-name {
    font-size: 6.25rem;
    line-height: 115px;
    margin-bottom: 0.875rem;
  }
}
.destination__description {
  line-height: 25px;
  padding-bottom: 2rem;
  border-bottom: 1px solid #383b4b;
}
@media screen and (min-width: 34em) {
  .destination__description {
    font-size: 1rem;
    line-height: 28px;
    padding-bottom: 3.0625rem;
  }
}
@media screen and (min-width: 62.5em) {
  .destination__description {
    font-size: 1.125rem;
    line-height: 32px;
    padding-bottom: 3.375rem;
  }
}
@media screen and (min-width: 34em) {
  .destination__stats-container {
    padding-top: 1.8125rem;
    padding-left: 4rem;
    padding-right: 4rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
  }
}
@media screen and (min-width: 62.5em) {
  .destination__stats-container {
    justify-items: start;
    align-items: start;
    padding-top: 1.75rem;
    padding-left: 0;
    padding-right: 0;
  }
}
.destination__distance-container, .destination__time-container {
  text-transform: uppercase;
  margin-top: 2rem;
}
@media screen and (min-width: 34em) {
  .destination__distance-container, .destination__time-container {
    margin-top: 0;
  }
}
.destination__distance-container h3, .destination__time-container h3 {
  font-size: 0.875rem;
  font-family: "Barlow Condensed", sans-serif;
  line-height: 17px;
  font-weight: 400;
  letter-spacing: 2.3625px;
  color: #d0d6f9;
  margin-bottom: 0.75rem;
}
.destination__distance-container p, .destination__time-container p {
  font-size: 1.75rem;
  font-family: "Bellefair", serif;
  line-height: 32px;
  color: #ffffff;
}
.destination__time-container {
  margin-bottom: 2.1875rem;
}
@media screen and (min-width: 34em) {
  .destination__time-container {
    margin-bottom: 0;
  }
}

/*# sourceMappingURL=Destination.css.map */